.SZABLON-TUR10 {
    width: 900px;
    background-color: #6d6d72;
    -webkit-box-shadow: 1px 0px 16px 17px rgba(83,83,88,0.63) inset;
    -moz-box-shadow: 1px 0px 16px 17px rgba(83,83,88,0.63) inset;
    box-shadow: 1px 0px 16px 17px rgba(83,83,88,0.63) inset;
    padding: 150px;
    color: white;
    font-family: Corbel, Tahoma;
    text-align: left;
}

.TUR-10 {
    width: 120%;
    margin-left: -10%;
}

h1 {
    color: #535358;
    text-align: center;
    font-size: 30pt;
    font-family: Corbel, Tahoma;
    box-shadow: 5px 5px 10px #535358;
}

h2 {
    color: #535358;
    text-align: center;
    font-size: 30pt;
    font-family: Corbel, Tahoma;
    box-shadow: 5px 5px 10px #535358;
}

h3 {
    color: #535358;
    text-align: center;
    font-size: 30pt;
    font-family: Corbel, Tahoma;
    box-shadow: 5px 5px 10px #535358;
}

span {
    color: #4e4e53;
    text-align: center;

}

.TEKST1 {
    background: #00FFFF;

}

.moj-hr {
    background-color: #00FFFF;
    height: 1px;
    width: 800px;
}


.informacja {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.adnotacja {
    text-align: center;
    color: #4e4e53;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 1px;

}

.NAZWA {
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: Corbel, Tahoma;

}

.galeria {
    -webkit-box-shadow: 0px 2px 43px -2px rgba(0, 255, 255, 0.7);
    -moz-box-shadow: 0px 2px 43px -2px rgba(0, 255, 255, 0.7);
    box-shadow: 0px 2px 43px -2px rgba(0, 255, 255, 0.7);
    width: 900px;
    display: block;
    position: relative;
    margin:auto;
}


.KONTENER-KOLOR{
    position:absolute;
    top:170px;
    left: 650px;
    z-index: 3;

}

.galeria img {
    width:100%
}


.rodzic {
    display: flex;
}
.menu-lewe{
    width:30%;
}

.opis-prawy {
    width:70%;
}

.MENU {
    position: absolute;
    left: 100px;
    top: 311px;
}



