.SZABLON-TUR10
{
    width: 1120px;
    background-color: #6d6d72;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(83,83,88,1) inset;
    -moz-box-shadow: 10px 10px 5px 0px rgba(83,83,88,1) inset;
    box-shadow: 10px 10px 5px 0px rgba(83,83,88,1);
    padding: 40px;
    color: white;
    font-family: Corbel, Tahoma;
    text-align: center;
}

.h1 {
    color: white;
    text-align:center;
    text-shadow:0 0 6px #ffffbe;
    font-size: 50pt;
    font-family: Verdana;
}
