.SZABLON-TUR10 {
    width: 1120px;
    background-color: #6d6d72;
    -webkit-box-shadow: 1px 0px 16px 17px rgba(83,83,88,0.63) inset;
    -moz-box-shadow: 1px 0px 16px 17px rgba(83,83,88,0.63) inset;
    box-shadow: 1px 0px 16px 17px rgba(83,83,88,0.63) inset;
    padding: 40px;
    color: white;
    font-family: Corbel, Tahoma;
    text-align: left;
}

.TUR-10 {
    width: 100%;
}

h1 {
    color: #535358;
    text-align: center;
    font-size: 30pt;
    font-family: Corbel, Tahoma;
    box-shadow: 5px 5px 10px;
}

h2 {
    color: #535358;
    text-align: center;
    font-size: 30pt;
    font-family: Corbel, Tahoma;
    box-shadow: 5px 5px 10px;
}

h3 {
    color: #535358;
    text-align: center;
    font-size: 30pt;
    font-family: Corbel, Tahoma;
    box-shadow: 5px 5px 10px;
}

span {
    color: #4e4e53;
    text-align: center;

}

.TEKST1 {
    background: #00FFFF;

}

.moj-hr {
    background-color: #00FFFF;
    height: 1px;
}


.informacja {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
}

.adnotacja {
    text-align: center;
    color: #4e4e53;
    font-size: 15px;
    margin-top: 30px;

}

.NAZWA {
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: Corbel, Tahoma;

}