.stopka {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: grey;
    height: 150px;

}

.stopka-lewo img {
    height: 150px;

}

.FHRM {
    font-family: Segoe UI;
    text-align: center;
    margin-top: 7px;

}

.tekst-srodkowy1 {
    font-family: Segoe UI;
    font-size: 18px;
    text-align: center;
    margin-top: 7px;
    font-weight: bold;
    color: white;

}


.tekst-srodkowy2 {
    font-family: Segoe UI;
    font-size: 15px;
    text-align: center;
    margin-top: 7px;
    color: white;

}


.WWW {
    text-decoration: none;
    color: white;
    font-family: "Segoe UI";
    font-size: 20px;

}

.WWW:hover{
    color: #00FFFF;

}


