.szablon-BMW {
    width: 900px;
    background-color: #6d6d72;
    -webkit-box-shadow: 1px 0px 16px 17px rgba(83, 83, 88, 0.63) inset;
    -moz-box-shadow: 1px 0px 16px 17px rgba(83, 83, 88, 0.63) inset;
    box-shadow: 1px 0px 16px 17px rgba(83, 83, 88, 0.63) inset;
    padding: 150px;
    color: white;
    font-family: Corbel, Tahoma;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 10px;

}

.BMW {
    width: 120%;
    margin-left: -13%;
    margin-top: -25px;
    margin-bottom: 29px;
}

h1 {
    color: #6d6d72;
    text-align: center;
    font-size: 30pt;
    font-family: Corbel, Tahoma;
    box-shadow: 5px 5px 10px #535358;
    padding-left: 235px;
    margin-top: 83px;

}

h2 {
    color: #6d6d72;
    text-align: center;
    font-size: 30pt;
    font-family: Corbel, Tahoma;
    box-shadow: 5px 5px 10px #535358;
    margin-top: 21px;

}

h3 {
    color: #6d6d72;
    text-align: center;
    font-size: 30pt;
    font-family: Corbel, Tahoma;
    box-shadow: 5px 5px 10px #535358;
}

.TEKST1 {
    background: #00FFFF;
    font-size: 30px;
    font-family: Corbel, Tahoma;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 21px;

}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

.moj-hr {
    background-color: #00FFFF;
    height: 1px;

}

.informacja {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 30px;
    font-family: Corbel, Tahoma;

}

.adnotacja {
    text-align: center;
    color: #4e4e53;
    font-size: 15px;
    margin-top: 30px;
    padding-bottom: 20px;
    font-family: Corbel, Tahoma;
    margin-top: 20px;

}

.NAZWA {
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: Corbel, Tahoma;

}

.galeria {
    -webkit-box-shadow: 0px 2px 43px -2px rgba(0, 255, 255, 0.7);
    -moz-box-shadow: 0px 2px 43px -2px rgba(0, 255, 255, 0.7);
    box-shadow: 0px 2px 43px -2px rgba(0, 255, 255, 0.7);
    width: 900px;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 25px;
}

.KONTENER-KOLOR {
    position: absolute;
    top: 84px;
    left: 650px;
    z-index: 3;

}

.galeria img {
    width: 100%
}

.rodzic {
    display: flex;
    margin-top: 57px;
}

.menu-lewe {
    width: 30%;
    font-family: Tahoma, Corbel;
    color: white;
    font-size: 13px;

}


.opis-prawy {
    width: 70%;
    margin-top: -22px;
}

.MENU {
    position: absolute;
    left: 100px;
    top: 226px;
}

.MENU-KLIK {
    position: absolute;
    top: 240px;
    font-family: Corbel, Tahoma;
    font-weight: bold;
    font-size: 30px;
    color: #6d6d72;
    left: 186px;

}

.kreska {
    border-right: 1px solid #01C3C3;
    padding-right: 6px;

}

a {
    color: white;
    text-decoration: none;
}

.MENU-KLIK a {
    text-decoration: none;
    color: #6d6d72;
}

.PRZYCISK {
    margin-left: -6px;
    margin-top: -18px;

}

.PRZYCISK2 {
    margin-left: -6px;
    margin-top: 16px;
}

.telefon1 {
    margin-left: 4px;
    margin-top: -12px;

}

.telefon1 a {
    margin-left: 6px;

}

.menu-lewe a:hover {
    color: #00FFFF;

}

.MENU-KLIK a:hover {
    color: white;
}

.czas-realizacji {
    color: white;
    font-size: 13px;
    font-family: tahoma;

}

.firma {
    font-weight: bold;
    font-size: 11.7px;
    margin-bottom: 20px;

}

.ZAPRASZAMY {
    font-size: 20px;
    font-weight: bold;
    font-family: Corbel, Tahoma;
}

.GORNY-OPIS {
    font-size: 29px;
    font-family: Corbel, Tahoma;
    text-align: justify;
    margin-top: -2px;
}

.DOLNY-OPIS {
    font-size: 20px;
    font-family: Corbel, Tahoma;
    text-align: justify;

}

.DOLNY-OPIScdn {
    font-size: 25px;
    font-family: Corbel, Tahoma;
    text-align: center;
    margin-bottom: 50px;

}

.CENA {
    font-size: 20px;
    font-family: Corbel, Tahoma;
    margin-bottom: 20px;
    margin-top: -15px;

}

.STAN {
    font-size: 20px;
    font-family: Corbel, Tahoma;
    text-align: justify;
    margin-bottom: 30px;
}

.LITERY {
    font-size: 17px;
    font-family: Tahoma;
}

.numer5 {
    font-size: 28px;
    font-family: Arial;
}

.PARTNER {
    font-size: 14px;
    font-family: Tahoma;
    color: white;

}

.FHRM-logo {

    margin-top: 20px;
    height: 150px;
}

.stopka {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 150px;

}

.stopka-lewo img {
    height: 100px;

}

.FHRM {
    font-family: Segoe UI;
    text-align: center;
    margin-top: 7px;

}

.tekst-srodkowy1 {
    font-family: Segoe UI;
    font-size: 18px;
    text-align: center;
    margin-top: 7px;
    color: white;
    font-weight: bold;

}

.tekst-srodkowy2 {
    font-family: Segoe UI;
    font-size: 15px;
    text-align: center;
    margin-top: 7px;
    color: white;

}

.WWW {
    text-decoration: none;
    color: white;
    font-family: "Segoe UI";
    font-size: 20px;

}

.WWW:hover {
    color: #00FFFF;

}

.tekst-srodkowy3 {
    color: white;
    font-family: "Segoe UI";
    font-size: 13px;
    text-align: center;

}

.tekst-srodkowy4 {
    color: white;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: bold;

}

.stopka-prawo img {
    height: 90px;

}

.stopka-prawo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

ul {

    list-style-type: none;

}

.ZAWARTOŚĆ {
    display: flex;
    justify-content: center;
}

.lista.lewa.strona {
    text-align: left;
    color: #00FFFF;
    font-size: 25px;
    margin-left:50px;
    margin-right:50px;
    width: 250px;


}

.lista.prawa.strona {
    text-align: left;
    color: #00FFFF;
    font-size: 25px;
    margin-left:50px;
    margin-right:50px;
    width: 250px;

}

.lista {
    padding-left:0;
}



.rys-tech {
    display: block;
    width: 100%;
    margin-top: 30px;
}

.LITERYDUZE {
    font-size: 25px;
    font-family: Tahoma;
}

.fa-vat {
    color: #00FFFF;

}

.krycie {
    margin: 0 -125px 0 -125px;
    padding: 0 125px 0 125px;
    background: url(http://galeria.abrsteel.pl/FHRM/szablonTUR10/zdjecia/tylauta3.png);
    background-repeat: no-repeat;
    background-size: contain;
}